.container {
    max-width: 1200px;
    margin: 8rem auto;
    background-color: var(--color-grey-light1);
    box-shadow: var(--shadow-box1) ;

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 5rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark1);
    flex: 0 0 18%;

    display: flex;
    //from left-right -> top-bottom;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    //TEST
    background-color: orangered;
    height: 80rem;


    flex: 1;
}